
<nav>
    <div>
   <ul>
      <% if user_signed_in? %>

      <li><%= link_to current_user.email, user_path(current_user) %></li>
       <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
       <li> <%= link_to "Log in", new_user_session_path %></li>
       <li> <%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
      
      </ul>
    </div>




  </nav>
  <% if user_signed_in? %> 
<%= react_component("App",props: {id:current_user.id}) %>
   <% else %>
   Pet Diary
 <% end %>